$color-white: #fff;
$color-black: #000;
$color-primary-dark: #2B2B2B;
$color-dark-gray: #4E4E4E;
$color-light-gray: #ccc;
$color-grid-gray: #DCDCDC;
$color-blue-link: rgb(7, 7, 216);
$color-blue-hover: rgb(91, 142, 236);
$color-light-table: #f0f0f5;
$color-dark-blue: rgb(7, 86, 134);
$color-light-blue: rgb(209, 232, 248);
$color-light-red: #ff9999;