/* nav */

.nav {
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: $color-primary-dark;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    border-bottom: solid $color-dark-gray 1px;
    color: $color-white;
    font-size: 1.7rem;
    
    a{
        margin-left: 3rem;
        margin-top: 1rem;
        height: 2rem;
        text-decoration: none;
        color: $color-white !important;
        display: inline-block;
        &:hover{
            text-decoration: none;
            border-bottom: solid $color-white .1rem;
        }
    }
    p{
        display: inline-block;
    }

};
