/* Buttons */

.btn{
    text-decoration: none;
    color:$color-white;
    &--live{
        text-transform: uppercase;
        font-family: 'Righteous', cursive;
        font-weight: 400;
        &:hover{
        color: $color-grid-gray !important;
    }
    }
    
    &--git{
        margin: 0 0 0 .5rem;
        &:hover{
        color: $color-grid-gray;
    }
    }
}
