@mixin backImg {
    background-size: cover;
    background-repeat:no-repeat; 
}
@mixin hoverColor{
    visibility: visible;
    opacity: 1;
    background-size: cover;
    background-repeat:no-repeat;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(154,121,241,1) 0%, rgba(63,146,249,1) 48%, rgba(0,101,255,1) 100%);
    background: -webkit-linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(154,121,241,1) 0%, rgba(63,146,249,1) 48%, rgba(0,101,255,1) 100%);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(154,121,241,1) 0%, rgba(63,146,249,1) 48%, rgba(0,101,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0065ff",GradientType=1);
    border-radius: .5rem;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    width: 100%;
    height: 100%;
    color: $color-white;
    font-size: 1.4rem;
    div{
        margin: 1rem 0 0 0;
    }
    p{
        margin: 0 1.5rem 0 1.5rem;
        word-wrap: break-word;
    }
}

.item--1{
    @include backImg();
    background-image: url('../../img/ReactCandle.jpg');
    &:hover #hover-1{
        @include hoverColor();
    };
}
.item--2{
    @include backImg();
    background-image: url('../../img/lineCharts.jpg');
    &:hover #hover-2{
        @include hoverColor();
    };
}
.item--3{
    @include backImg();
    background-image: url('../../img/barchart.jpg');
    &:hover #hover-3{
         @include hoverColor();
    };
}
.item--4{
    @include backImg();
    background-image: url('../../img/histogram.jpg');
    &:hover #hover-4{
         @include hoverColor();
    };
}
.item--5{
    @include backImg();
    background-image: url('../../img/donut-pie.jpg');
    &:hover #hover-5{
         @include hoverColor();
    };
}
.item--6{
    @include backImg();
    background-image: url('../../img/areachart.jpg');
    &:hover #hover-6{
         @include hoverColor();
    };
}
.item--7{
    @include backImg();
    background-image: url('../../img/mindgap.jpg');
    &:hover #hover-7{
         @include hoverColor();
    };
}
.item--8{
    @include backImg();
    background-image: url('../../img/layoutforce.jpg');
    &:hover #hover-8{
         @include hoverColor();
    };
}

.tech{
    font-family: 'MontSerrat', Tahoma,Arial,sans-serif;
    font-size: 1.2rem; 
    font-weight: 700;
    margin-bottom: 1rem !important;
}


.grid-title{
    font-size: 1.5rem;
}

.btn-container{
    margin-top: 1.5rem !important;
    text-align: center;
}